<main id="root">hello from root</main>
<a href="https://gifs.alphacoders.com/gifs/view/215851"><img src="https://giffiles.alphacoders.com/215/215851.gif"></a>

<div class="tenor-gif-embed" data-postid="20764175" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%">
    <a href="https://tenor.com/view/pucci-jojo-made-in-heaven-made-in-gif-20764175">Pucci Jojo GIF</a>
    from 
    <a href="https://tenor.com/search/pucci-gifs">Pucci GIFs</a>
</div> 
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>