.cart-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

/* left side */
.cart-product-amount-wrapper{
   /* transform: translateY(-25%); */
}

.cart-product-amount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.25rem;
    font-weight: 350;
}


/* right side----right side----right side----right side */
.cart-index-redirect-button-wrapper{
    position: relative;
}

.cart-index-redirect-button {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(-25%);
    
    width: max-content;
}

.cart-index-redirect-button a, .cart-index-redirect-button a:visited{
    color: black;
    text-decoration: none;
    text-align: right;
    padding: 1rem;
    margin-right: -1rem;
    cursor: pointer;
    transition: 225ms;
}

.cart-index-redirect-button a:hover{
    border-radius: 25px;
    background-color: rgba(200, 200, 200, 0.3);
}

.cart-index-redirect-button-text{
    font-weight: 600;
    font-size: 1.125rem;
}

/*------------------ Protection guarantee! -----------------*/
.cart-guarantee-wrapper{
    display: flex;
    align-items: center;

    padding: 10px;
}
.cart-guarantee{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 3.5rem;
    border-radius: 20px;
    background-color: rgb(204, 217, 240);
    padding: 10px;
}

/* .cart-guarantee p{
    
} */
.cart-guarantee p strong{
    font-weight: 600;
}

/* ------------------------ Cart Index ------------------------------*/
.cart-index-and-checkout-wrapper{
    display: flex;
}
.cart-index{
    flex: 2 2 auto;
}
.cart-index li:first-of-type{
    border: none;
}


/* ------------------------ Cart Item ------------------------------*/
.cart-list-item{
    border-top: 1px solid lightgrey;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cart-item-owner{
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}
.cart-item-wrapper{
    display: flex;
    flex-direction: row;

    
    margin: 5px 0;
}

/* --------- left side----------- */
.cart-item-image{
    /* in the case of the flex basis here, it only refers to 
    width since the flex direction is row */
    flex: 1 1 16vw;
    height: 12vw;

    background-color: rgb(204, 217, 240);
    border-radius: 10px;
}


/* --------- middle side----------- */
.cart-item-info-wrapper{
    flex: 2 2 50%;
    /* border: 1px solid black; */
    padding-left: 1rem;
    padding-right: 1rem;
}

.cart-item-name{
    line-height: 1.25rem;
    padding-bottom: 1rem;
}

.cart-item-name a:hover{
    text-decoration: underline;
}

.cart-item-remove-button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding-right: 0;
}

/* --------- right side ----------- */
.cart-item-quantity-wrapper{
    flex: 2 2 35%;
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem; */
}

/* price and quantity selector */
.cart-item-numbers-wrapper{
    display: flex;
    justify-content: flex-end;
}
/* quantity select (if greater  
than zero) */
.cart-item-quantity-selector-container{
    width: 100%;
    min-width: 2rem;
}

.cart-item-quantity-selector{
    padding: 0.75rem;

    width: 4rem;
    border: 1px solid lightgray;
    border-radius: 7.5px;
    box-shadow: 0 0 5px 1px rgb(224, 230, 240);
    cursor: pointer;
    font-size: 0.95rem;
    transition: 350ms;
}

.cart-item-quantity-selector:hover{
    border: 1px solid rgb(138, 138, 138);
    box-shadow: 0 0 10px 1.5px rgb(224, 230, 240);
}

.cart-item-price{
    font-weight: 700;
}


.cart-item-one-left{
    padding-top: 1.5rem;
    text-align: right;
    color: crimson;
}

/* .cart-item-one-left{
    position: relative;
    
    transform: translate(-100%, 50%);
} */


/* ------------------------ Cart Checkout ------------------------------*/

.cart-checkout-wrapper{
    flex: 1 1 auto;
    padding-top: 1rem;
    padding-left: 2rem;
}

.cart-checkout{
    padding: 1rem;
    border: 1px solid rgb(241, 237, 237);
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(224, 230, 240);
}

/* .cart-checkout-price-container{
    display: inline-block;
    width: 100%;
} */

.cart-checkout-price{
    float: right;
}


















/* !!!!!!!!!!!!!!! Really cool button effect!! !!!!!!!!!!!!!!!!! */
/* .diva{
    position: relative;
    border: 0.5px solid lightgreen;
    height: 50px;
    width: 0;
    margin: 0 auto;
   }
   
   #anchor{
     color: black;
     display: block;
     position: absolute;
     right: 0;
     width: max-content;
     padding: none;
     border: 18px solid green;
     border-radius: 25px;
     
     box-sizing: border-box;
     transition: 225ms;
   }
   
   #anchor:hover{
     border: 1px solid transparent;
     padding: 17px;
         border-radius: 25px;
     background-color: rgba(200, 200, 200, 0.3);
   }
   <div class="diva"><a href="#" id="anchor">I am groot!</a></div> */