.cart-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

/* left side */
.cart-product-amount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.25rem;
    font-weight: 350;
}


/* right side----right side----right side----right side */
.cart-index-redirect-button-wrapper{
    position: relative;
}

.cart-index-redirect-button {
    position: absolute;
    /* transform: translate(-100%, -50%); */
    right: 0;
    width: max-content;
}

.cart-index-redirect-button a, .cart-index-redirect-button a:visited{
    color: black;
    text-decoration: none;
    text-align: right;
    padding: 1rem;
    margin-right: -1rem;
    
    transition: 225ms;
}

.cart-index-redirect-button:hover a{
    border-radius: 25px;
    background-color: rgba(200, 200, 200, 0.3);
}

.cart-index-redirect-button-text{

}


/* !!!!!!!!!!!!!!! Really cool button effect!! !!!!!!!!!!!!!!!!! */
/* .diva{
    position: relative;
    border: 0.5px solid lightgreen;
    height: 50px;
    width: 0;
    margin: 0 auto;
   }
   
   #anchor{
     color: black;
     display: block;
     position: absolute;
     right: 0;
     width: max-content;
     padding: none;
     border: 18px solid green;
     border-radius: 25px;
     
     box-sizing: border-box;
     transition: 225ms;
   }
   
   #anchor:hover{
     border: 1px solid transparent;
     padding: 17px;
         border-radius: 25px;
     background-color: rgba(200, 200, 200, 0.3);
   }
   <div class="diva"><a href="#" id="anchor">I am groot!</a></div> */