.home-page-grid-wrapper{
    /* max-height: 100%; */
    /* margin-top: 2em;
    max-width: 100%; */
}

.home-page-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
}
 
.grid-brick {
    height: 100%;
    width: 100%;
    position: relative;
}

/* Note: the A tags are the link class in react */
.grid-brick > a{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.grid-image{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.grid-image > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 325ms;
}

.grid-brick:hover > a > .grid-image > img{
    transform: scale(1.05);
}

.grid-item-price {
    position: absolute;
    left: 5px;
    bottom: 5px;

    font-size: 0.75rem;
    padding: 2px 5px;
    border: 1px solid rgba(40, 40, 40, 0.1);
    border-radius: 20px;
    color: black;
    background-color: white;
    z-index: 5;
}






.grid-brick-0{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-brick-1{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 4;
    grid-row-end: 6;
}

.grid-brick-2{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-brick-3{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 6;
}

.grid-brick-4{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-brick-5{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 6;
}

.grid-brick-6{
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;
}
