.nav-bar-wrapper{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-bar{
    /* Although seemingly repetitive, the above display and justify-content 
        centers the nav-bar, and the below centers the items in the nav-bar! */
    display: flex;
    /* the reason this should be space-between is so that the logo
        and the signin/cart buttons are truly at the ends of the navbar,
        and also would make it easier to refactor if the viewport falls 
        below the 900px width.  */
    justify-content: space-between; 
    align-items: center;
    box-sizing: border-box;
    /* this specifies the stretching or shrinking of the nav-bar within the bounds of
        max & min */
    width: 100%; 

    /* (top, bottom) , (left, right)*/
    

}

/* */
.nav-bar > a{
    font-size: 2em;
    text-decoration: none;
    margin-bottom: 0.65rem;
}


/* Search Bar--------------------------------------------------------------------------*/
.nav-bar-search-bar-container{
    margin: 0 1em; /* left and right margin for the search bar */
    width: 100%;
}

.nav-bar-search-form{
    display: flex;
}

.nav-bar-search-bar{
    height: 2.85em;
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    border: 2px solid black;
    border-radius: 50px 0 0 50px;
    border-right: none;
    outline: none;

    cursor: text;
    font-size: 1rem;
    /* background-color: rgba(200, 200, 200, 0.3); */
}

.nav-bar-search-button-container{
    /* position: relative; */
}

.nav-bar-search-button{
    position: relative;
    width: 70px;
    height: 100%;
    border: 2px solid black;
    border-radius: 0 50px 50px 0;
    border-left: none;
    /* background-color: rgba(200, 200, 200, 0.3); */
    background: none;
    cursor: pointer;
}

.nav-bar-search-button::after{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 69px;

    border: 1px solid rgba(200, 200, 200, 0.4);
    border-radius: 0 50px 50px 0;
    border-left: none;

    /* bottom: 50%;
    right: 50%; */
    background-color: rgba(200, 200, 200, 0.4);

    transform: scale(0.00000001);
    transition: 125ms ease-in-out;
    z-index: -1;
}

.nav-bar-search-button-container:hover .nav-bar-search-button::after{
    transform: scale(1);
    /* inset: 0 !important;
    bottom: 0 !important; */
    /* transform: scale(1); */
}

.nav-bar-search-icon{
    /* height: 100%; */
    font-size: 1.5em;
}

/* Sign In and Cart button!-------------------------------------------------------------------*/
.nav-bar-button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 150px;
}

.nav-bar-session-button-container{
    
    /* margin-right: 1em; */
    
}

/* top right bottom left*/
.nav-bar-login{
    /* font-size: 1em; */
    width: 100%;
    padding: 0.75em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-bar-cart-icon{
    padding: 0.5em;
    font-size: 1.25em;
    cursor: pointer;
}

.nav-bar-login:hover, .nav-bar-cart-icon:hover{
    transition: 200ms;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 20px;
}

/* Navigation Category Bar */
.category-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-bar-border{
    border-bottom: 2px solid rgba(33, 33, 33, 0.2);
}

/* Individual Category */

/* .category-bar a, .category-bar a:visited{
    text-decoration: none;
    color: rgb(56, 55, 55);
    font-size: 16px;

    padding-bottom: 12px;
} */
.category-container{
    position: relative;
    padding-bottom: 12px;
}

.category-container a, .category-container a:visited{
    text-decoration: none;
    color: rgb(56, 55, 55);
    font-size: 16px;

    padding-bottom: 12px;
    z-index: 25;
}

.category-container::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    border-bottom: 2px solid black;
    transition: 225ms;
}

.category-container:hover::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 2px solid black;
}