
/******** DELETE THIS LATER *************/
.product-index-container{
    /* margin-bottom: 50vh !important; */
    padding-left: 9px;
    padding-right: 9px;
}

/*------------ Index Header -----------*/
.product-index-header h2{
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* The below css is a mistake,
       flex: is supposed to be under the individual item in a flexgrid    
    */
    /* flex: 1 1 25%; */
    margin-bottom: 15rem;
}

.index-product{
    width: 25%;
    height: 25vw;

    padding: 1rem;

    transition: 325ms;
}

/* ---------- Product Image -------------*/
.index-product-image-container{
    width: 100%;
    height: 75%;
    margin-bottom: 5px;
    overflow: hidden;
    
    border-radius: 3px;
    background-color: rgb(168, 209, 250);
    box-shadow: 0 0 0 0 rgb(196, 196, 196);

    transition: 175ms ease-in;
    transition-delay: 25ms;
    /* transition: 150ms ease-in;
    transition-delay: 50ms; */
}

.index-product-image{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

    transform: scale(1.0000001);
    transition: 325ms;
}

/* ----- Product Image Hover ----- */
.index-product:hover .index-product-image-container{
    box-shadow: 0 0 4px 5px rgb(230, 230, 230);
}

.index-product:hover .index-product-image{
    transform: scale(1.05);
}

/* ---------- Product Info ---------- */
.index-product-name{
    /* font-size: 0.9rem; */
    padding-bottom: 0.35rem;
}

.index-product-price{
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 2px;
}

.index-product-owner{
    font-size: 0.9rem;
}


/* No Product Found */

.product-index-no-products-container{
    background-color: rgb(255, 232, 203);
    margin-bottom: 90vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.no-products-found-message{
    margin-bottom: 2rem;

    font-size: 2.5rem;
    font-weight: 300;
}

.no-products-found-query{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
}

.no-products-found-suggestion{
    font-size: 0.9rem;
    font-weight: 600;
}