.product-image-and-info-container{
    display: flex;
}

/* ---------- Product Image -------------*/
.product-image-container {
    flex: 1 1 66%;
    height: 50vw;
    max-height: 80vh;
    border: 1px solid rgb(85, 236, 85);

    overflow: hidden;
}

.product-image-width-height-wrapper {
    width: 100%;
    height: 100%;
}

.product-image-width-height-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    /* object-position: 50% 50%; */
}

/* ---------- Product Information -------------*/

.product-info-container {
    margin-left: 2rem;
}
















.product-info-container {
    flex: 1 1 33%;
}

/* .product-image-container {
    width: 20vw;
    height: 20vh;
    overflow: hidden;
}

.product-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

