/* Review Modal Open Button */
.review-form-modal-toggle{
    position: relative;
    margin: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    color: white;
    cursor: pointer;

    z-index: 20;
}

.review-form-modal-toggle::before{
    content: "";
    display: block;
    position: absolute;
    inset: -1px;
    background-color: black;
    border: 2px solid black;
    border-radius: 6px;
    transform: scale(1.000000001);
    transition: 225ms ease-in-out;
    z-index: -10;
}

.review-form-modal-toggle:hover::before{
    transform: scale(1.1, 1.3);
}

/* Modal Background */
.review-form-modal-background{
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 50;
}

.review-form-modal-background.review-form-modal-hidden{
    display: none;
}

/* Modal Container */
.review-form-modal-container{
    position: absolute;
    display: block;
    top: 43%;
    left: 50%;
    height: 42rem;
    width: 35rem;
    
    padding: 1.75rem;
    background-color: white;
    border-color: white;
    border-radius: 25px;

    transform: translate(-50%, -50%);
}

.review-form-modal-hidden{
    display: none;
}

/* Header */
.review-form-header{
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 400;
}

/* Product Image and Info Container*/
.review-form-product-info-container{
    display: flex;
    width: 100%;
}

/* Product Image */
.review-form-product-image-container{
    width: 25%;
    height: 80px;
    max-height: 80px;
    margin-bottom: 1rem;
}

.review-form-product-image-container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

/* Product Information */
.review-form-product-name-and-owner-container{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

/* Product Owner Name */
.review-form-product-owner-container{
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.review-form-product-owner{
    font-size: 0.9rem;
    font-weight: 500;
}

/* Product Name */
.review-form-product-name-container{
    font-size: 1.15rem;
    font-weight: 500;
}

/* Review Star Rating */
.review-form-rating-display{
    /* margin-bottom: 1rem; */
}

.review-form-rating-title{
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.review-form-rating-label{
    margin-top: 0.25rem;
}

/* Written Review */
.review-form-review-display{
    display: flex;
    flex-direction: column;
}

.review-form-review-explanation{
    margin-top: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
}

.review-form-review-examples{
    margin-top: 0.55rem;
    font-size: 0.95rem;
    line-height: 1.3;
}
/* Written Review */
.review-form-textarea{
    width: 100%;
    height: 160px;
    margin-top: 0.75rem;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    border-color: rgb(197, 197, 197);
    border-width: 1px;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.3;

    transition: border-color 225ms ease-in-out;
    resize: none;
}

.review-form-textarea:focus-visible{
    outline: none;
    border-color: rgb(71, 71, 71);
    border-width: 1px;
}

/* Reviewer Information and Privacy Statement */
.review-form-reviewer-information-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 1.5rem;
}

.review-form-reviewer-information{
    font-size: 0.9rem;
}

.review-form-privacy-statement{
    margin-top: 7px;
    font-size: 0.9rem;
}




/* Review Form Buttons Container */
.review-form-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

/* Form Cancel Button */
.review-form-cancel-modal-button{
    position: relative;
    padding-top: 0.55rem;
    padding-bottom: 0.6rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    z-index: 30;
}

.review-form-cancel-modal-button::after{
    position: absolute;
    display: block;
    content: "";
    inset: 0;

    background-color: transparent;
    /* border: 1px solid rgba(200, 200, 200, 0.4); */
    border-radius: 25px;
    
    transform: scale(0);
    transition: 200ms ease-in-out;
    z-index: 25;
}

.review-form-cancel-modal-button:hover::after{
    background-color: rgba(210, 210, 210, 0.4);
    transform: scale(1.04, 1.07);
    transition: 150ms ease;
}
/* ^^ font size 18px */

/* Form Submit Button */
.review-form-submit-button{
    position: relative;
    padding-top: 0.55rem;
    padding-bottom: 0.6rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 500;
    z-index: 50;
}


.review-form-submit-button::before{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
    border-radius: 25px;
    
    transition: 200ms ease-in-out;
    transform: scale(1.005, 1.01);
    /* ***The base of the modal form is 50, and 
    this is at -5, but it works perfectly for some reason...
    maybe because of position absolute?*** */
    z-index: -5;
}

.review-form-submit-button:hover::before{
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05, 1.09);
    transition: 150ms ease;
}