/* Note: This comment is for a .scss file
Place all the styles related to the api/Reviews controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */


/* Review Index Header */
.reviews-index-header-container {
    display: flex;
    width: 66%;
    margin-top: 1rem;
}

.reviews-index-header {
    align-self: center;
    transform: translateY(-15%);
    margin-right: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.reviews-index-header-stars-container {
    align-self: center;
}

/* ----------- Reviews Index ----------- */
.reviews-index-container {
    width: 66%;
    margin-top: 1rem;
}

/* ----------- Reviews Sort Button Menu ----------- */
.reviews-sorting-buttons-container {
    position: relative;
    /* margin-left: auto; pushes an element to the right by
    utilizing all available space to the left*/
    margin-left: auto;
    align-self: flex-end;
}

/* Menu Trigger Button */
.reviews-sorting-button {
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;

    transition: background-color 175ms ease-in-out;
    z-index: 20;
}

.reviews-sorting-button.hidden:hover {
    background-color: rgb(236, 236, 236);
}

.review-sort-caret-down {
    margin-left: 0.5rem;
}

/* Dropdown Menu */
.reviews-sort-menu {
    display: none;
    /* position: absolute;
    top: 0;
    width: 1px;
    height: 0;
    max-width: 0;
    max-height: 0; */
    opacity: 0;
    visibility: hidden;

    /* padding-top: 2.5rem;  **this matches perfectly with the area of hover created by the menu trigger button
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 7.5px; */
    
    transition: height 225ms ease-in-out, max-height 225ms ease-in-out, width 225ms ease-in-out,
    opacity 108ms ease-in-out 500ms, visibility 225ms ease-in-out 500ms;
    z-index: 5;
}

.reviews-sort-menu.expanded {
    display: block;
    position: absolute;
    top: 0;
    opacity: 1;
    visibility: visible;

    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 400px;

    padding-top: 2.5rem; /* this matches perfectly with the area of hover created by the menu trigger button*/
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 7.5px;

    transition: height 225ms ease-in-out, max-height 225ms ease-in-out, width 225ms ease-in-out,
    opacity 108ms ease-in-out 500ms, visibility 225ms ease-in-out 500ms;
}

/* Dropdown Option Buttons */
.reviews-sorting-option {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;

    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: start;

    transition: background-color 175ms ease-in-out;
    z-index: 20;
}

.reviews-sorting-option.selected {
    background-color: rgb(242, 242, 242);
}

.reviews-sorting-option:hover {
    background-color: rgb(230, 230, 230);
}

/* Selected Option Check Symbol */
.reviews-option-check-symbol {
    display: none;
}

.reviews-sorting-option.selected .reviews-option-check-symbol{
    display: block;
}

/* ----------- Review Details ----------- */
.review-item {
    /* border: 1px solid black; */
}

.review-item-rating {
    margin-bottom: 0.5rem;
}

.review-item-text {
    /* margin-bottom: 1rem; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    
    line-height: 28px;
}




.review-item-reviewer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: gray;
    text-decoration: underline;
}

/* ----------- Review Button Pagination Buttons ----------- */
.reviews-index-pagination-container {
    display: flex;
    padding-top: 0.5rem;
}

.reviews-index-pagination-container > * {
    margin-right: 0.5rem;
}


/* Left and Right Arrow Buttons */
.review-previous-page-navigation-button,
.review-next-page-navigation-button {
    transform: scale(0.9);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 1.25rem;
    transition: background-color 175ms ease-in-out;
}

.review-previous-page-navigation-button:hover,
.review-next-page-navigation-button:hover {
    /* I need to create a slightly darker background-color for the buttons
    accounting for the hover background colors as well */
    background-color: lightgray;
}

.review-page-navigation-arrow {
    display: block;
    transform: translateY(-9%);
}

.review-previous-page-navigation-button.blocked,
.review-next-page-navigation-button.blocked {
    cursor: not-allowed;
    background-color: #f8f8f8;
    border: 1px solid transparent;
}

.review-previous-page-navigation-button.blocked > .review-page-navigation-arrow,
.review-next-page-navigation-button.blocked > .review-page-navigation-arrow {
    color: rgb(194, 194, 194);
}



/* Numbered Buttons */
.review-page-navigation-button {
    transform: scale(0.9);
    padding-left: 9.75px;
    padding-right: 9.75px;

    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 1.25rem;
    transition: background-color 175ms ease-in-out;
}

.review-page-navigation-button:hover {
    background-color: lightgray;
}

.review-page-navigation-number {
    display: block;
    /* transform: translateY(-5%); */
    transform: translate(-5%, -5%);
}

.review-page-navigation-button.current-review-page {
    cursor: default;
    border: 2px solid black;
    /*this is the default background color*/
    background-color: rgb(240, 240, 240);
}

