/* Note: This comment is for a .scss file
Place all the styles related to the api/Reviews controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */


/* Review Index Header */
.reviews-index-header-container {
    margin-top: 1rem;
    display: flex;
}

.reviews-index-header {
    align-self: center;
    transform: translateY(-15%);
    margin-right: 5px;
    font-weight: 500;
}

.reviews-index-header-stars-container {
    align-self: flex-end;
}



.reviews-index-container {
    width: 66%;
    margin-top: 1rem;
}

/* Review Details */
.review-item {
    border: 1px solid black;
}

.review-item-rating {
    margin-bottom: 1rem;
}

.review-item-text {
    margin-bottom: 1rem;
    line-height: 1.2;
}

.review-item-reviewer {
    margin-bottom: 1rem;
}

/* ----------- Review Button Navigation Container ----------- */
.reviews-index-pagination-container {
    display: flex;
    padding-top: 0.5rem;
}

.reviews-index-pagination-container > * {
    margin-right: 0.5rem;
}


/* Left and Right Arrow Buttons */
.review-previous-page-navigation-button,
.review-next-page-navigation-button {
    transform: scale(0.9);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 1.25rem;
    transition: background-color 175ms ease-in-out;
}

.review-previous-page-navigation-button:hover,
.review-next-page-navigation-button:hover {
    /* I need to create a slightly darker background-color for the buttons
    accounting for the hover background colors as well */
    background-color: lightgray;
}

.review-page-navigation-arrow {
    display: block;
    transform: translateY(-9%);
}

.review-previous-page-navigation-button.blocked,
.review-next-page-navigation-button.blocked {
    cursor: not-allowed;
    background-color: #f8f8f8;
    border: 1px solid transparent;
}

.review-previous-page-navigation-button.blocked > .review-page-navigation-arrow,
.review-next-page-navigation-button.blocked > .review-page-navigation-arrow {
    color: rgb(194, 194, 194);
}



/* Numbered Buttons */
.review-page-navigation-button {
    transform: scale(0.9);
    padding-left: 9.75px;
    padding-right: 9.75px;

    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 1.25rem;
    transition: background-color 175ms ease-in-out;
}

.review-page-navigation-button:hover {
    background-color: lightgray;
}

.review-page-navigation-number {
    display: block;
    /* transform: translateY(-5%); */
    transform: translate(-5%, -5%);
}

.review-page-navigation-button.current-review-page {
    cursor: default;
    border: 2px solid black;
    /*this is the default background color*/
    background-color: rgb(240, 240, 240);
}

