/* Note: This comment is for a .scss file
Place all the styles related to the api/Reviews controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

/* ---------- Product Reviews ------------- */
.reviews-index-header {
    margin-top: 1rem;
}

.reviews-index-container {
    width: 66%;
    margin-top: 1rem;
}

/* Review Details */
.review-item {
    border: 1px solid black;
}

.review-item-rating {
    margin-bottom: 1rem;
}

.review-item-text {
    margin-bottom: 1rem;
    line-height: 1.2;
}

.review-item-reviewer {
    margin-bottom: 1rem;
}





