/* Note: This comment is for a .scss file
Place all the styles related to the api/Reviews controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

/* ---------- Product Reviews ------------- */
.reviews-index-header {
    margin-top: 1rem;
}

.reviews-index-container {
    margin-top: 1rem;
}

.review-item-rating { 
    margin-top: 1rem;
    margin-bottom: 1rem;
}








