/* These are for all errors, must be refactored in the future*/
.session-modal-input-error{
    margin-top: 0.5em;
    color: crimson;
}


.session-modal-background{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0em;
    right: 0em;
    top: 0em;
    bottom: 0em;
    z-index: 20;
}

/* This is the white background of the form! 
    This might be changed down the line however */
.session-modal-wrapper{
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30em;
    width: 24em;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    transition: 300ms;
}

/* The beginning of the magic */
.session-modal-form{
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
}

/* Modal close button*/
.session-modal-close-button{
    position: absolute;
    right: -3rem;
    top: 0.75rem;
    
    width: 2rem;
    height: 2rem;

    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-size: x-large;
    z-index: 5;
}
.session-modal-close-button::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    border-color: transparent;

    transform: scale(0.01);
    transition: 225ms ease-in-out;
}

.session-modal-close-button:hover::after{
    transform: scale(1.3);
}

.fa-session-modal-close-button-icon{
    height: 2rem;
    width: 2rem;
}

/* Header!!! (Sign in and Register Button Wrap) --------------------------------------------*/
.session-modal-login-header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
}

/* This is the h1 tag Sign in */
.session-modal-login-header{
    font-size: 1.3em;
    font-weight: 520;
}

/* The Register Button */
.session-modal-register-button-container{
    position: relative;
    width: 1px;
    height: 2.5em;
}

.session-modal-register-button{
    position: absolute;

    top: 12%;
    right: 0;
    width: 5.25rem;
    height: 2.5em;
    
    background-color: rgb(122 187 220);
    border: 3px solid rgb(44 102 118);
    border-radius: 2em;
    color: white;
    cursor: pointer;
    letter-spacing: 0.7px;
    font-weight: 700;
    transition: 200ms;
    transform: scale(1.01);
    z-index: 21;
}

.session-modal-register-button:hover{
    transform: scale(1.05, 1.05);
}

/* .session-modal-register-button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 5rem;
    height: 2.5em;

    background: none;
    border: 2px solid black;
    border-radius: 2em;
    transition: 200ms;
    z-index: 21;
} */

/* Action Required additional message */
.session-modal-action-required-message{
    padding-top: 0;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    font-size: 1rem;
    letter-spacing: 0.16px;
    line-height: 1.4;
}

/* Header!!! (Sign in and Register Button Wrap) --------------------------------------------*/
.session-modal-register-header-wrap{
    display: flex;
    flex-direction: column;
}

/* Actual Registration header "Create Your Account" */
.session-modal-register-header{
    margin-bottom: 0.5rem;
    font-size: 1.3em;
    font-weight: 520;
}

.session-modal-register-header-extra{
    margin-top: 0.25em;
    margin-bottom: 0.3em;
    /* margin-bottom: 0.5em; */
}



/* A wrap for all of the input fields & labels -------------------------------------*/
.session-modal-input-wrap{
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.session-modal-input-wrap > label{
    font-size: 0.9rem;
    font-weight: 500;
}

/* Refers specifically to the input tags */
.session-modal-email-input, .session-modal-password-input, .session-modal-name-input{
    margin-top: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    height: 2.75em;
    outline: 1px solid transparent;
    transition: 125ms;
}

.session-error{
    background-color: #fddcd8;
    border-color: crimson;
    transition: 0;
}

.session-modal-email-input:hover, .session-modal-password-input:hover, .session-modal-name-input:hover{
    border: 1px solid gray;
}

/* Shows a change if an input field is being 
    focused on */
.session-modal-email-input:focus, .session-modal-password-input:focus{
    border: 1px solid black;
    outline-offset: 0.2em;
    outline: 1px solid blue;
}




/* This is the form submission button ----------------------------------------------*/
.session-modal-form-button-container{
    position: absolute;
    bottom: 7%;
    left: 7.8%;
    right: 7.2%;
}

.session-modal-form-button{
    height: 3.1rem;
    width: 100%;
    margin-top: 1em;
    border-color: transparent;
    border-radius: 2em;
    background-color: transparent; /* This is pretty close to the perfect color */
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    /* font-family: sans-serif; */
    /* font-weight: 500; */
    transform: scale(1.0000000000001);
    transition: 225ms ease-in-out;
}

.session-modal-form-button::after{
    content: "";
    position: absolute;
    inset: 0;

    border-radius: 2em;
    transition: 150ms ease-in-out;
    z-index: -5;
}

.session-modal-login-submit-button::after{
    background-color: rgb(126 168 130 / 75%);
    border: 3px solid rgb(7 118 14 / 57%);
}

.session-modal-register-submit-button::after{
    background-color: rgb(122 187 220 / 84%);
    border: 3px solid rgb(20 141 174);
}

.session-modal-register-submit-button:hover::after,
.session-modal-login-submit-button:hover::after{
    transform: scale(1.03, 1.06) !important;
}